.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: clamp(132px, 7.528rem + 3.08vw, 152px);
  padding: clamp(10px, 0.264rem + 1.54vw, 20px);
  background: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  transition: all 0.3s;

  &::placeholder {
    color: var(--gray-300);
  }

  &:hover {
    background: var(--beige-200);
  }

  &:focus {
    background: var(--beige-200);
    border-color: var(--gray-300);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    margin-right: 10px;
    background: rgba(var(--black), 0.3);
    border-radius: 10px;

    &:hover {
      background: rgba(var(--black), 0.6);
    }
  }
}
