@use '@/styles/typography';

.root {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-shrink: 1;
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s;

  &.withIcon {
    width: auto;
    padding: 7px 20px;
    @extend .p-big;
    font-weight: 700;
    background: none;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
}

.solid,
.filled {
  max-width: 235px;
  width: 100%;
  padding: 15px 30px;
  @extend .p-normal;
  border-radius: 10px;

  @media (max-width: 768px) {
    padding: 12px 15px;
  }
}

.solid {
  color: var(--white);
  background: var(--green-400);

  &:hover {
    background: var(--green-300);
  }

  &:active {
    background: var(--green-200);
  }
}

.filled {
  color: var(--green-400);
  background: var(--green-100);

  &:hover {
    background: var(--gray-100);
  }

  &:active {
    background: var(--gray-200);
  }
}

.clear {
  padding: 0;
  background: none;
}

.small {
  width: auto;
  padding: 5px 20px;
  @extend .p-small;
  color: var(--black);
  background: var(--white);
  border-radius: 10px;
  transition:
    background 0.4s,
    color 0.2s;

  &:hover {
    color: var(--white);
    background: var(--orange-200);
  }

  &:active {
    color: var(--black);
    background: var(--orange-100);
  }
}