.image {
  height: auto;
  margin: 0 auto;
  border-radius: var(--border-radius-change);

  @media (max-width: 1024px) {
    width: clamp(130px, -0.542rem + 36.98vw, 370px);
    height: clamp(133px, -0.246rem + 36.52vw, 370px);
  }
}

.info {
  gap: 20px;

  @media (max-width: 768px) {
    align-items: center;
    gap: 20px;

    & * {
      text-align: center;
    }
  }
}

.text {
  color: var(--gray-300);

  @media (max-width: 768px) {
    max-width: 291px;
  }
}

.link {
  color: var(--black);

  &:active {
    color: var(--green-400);
  }
}

.content {
  gap: 30px;

  @media (max-width: 1024px) {
    gap: 32px;
  }
}
