@use '@/assets/styles/typography';

.text {
  margin-bottom: var(--mb, 0);
  max-width: var(--w, 100%);

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.big {
  @extend .p-big;
}

.normal {
  @extend .p-normal;
}

.small {
  @extend .p-small;
}
