.container {
  --padding: 57px;
  max-width: calc(1170px + var(--padding) * 2);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--padding);

  @media (max-width: 1024px) {
    --padding: 53px;
  }

  @media (max-width: 768px) {
    --padding: 21px;
  }
}

.full {
  max-width: 1920px;
  padding: 0 25px;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 375px) {
    padding: 0 21px;
  }
}

.small {
  --padding: 57px;
  max-width: calc(771px + var(--padding) * 2);

  @media (max-width: 768px) {
    --padding: 21px;
  }
}
