.card {
  position: relative;
  height: clamp(455px, 24.393rem + 17.26vw, 567px);
  color: var(--white);
  border-radius: var(--border-radius-change);
  overflow: hidden;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      .image {
        transform: scale(1.2);
      }

      .btn {
        background: var(--green-400);
      }
    }

    &:active {
      .btn {
        background: var(--orange-200)
      }
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: clamp(30px, 7vw, 60px);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.title {
  max-width: 555px;
  margin-bottom: 37px;

  @media (max-width: 375px) {
    max-width: 150px;
    margin-bottom: 20px;
  }
}

.description {
  max-width: 555px;
  margin-bottom: 28px;

  @media (max-width: 375px) {
    line-height: 145%;
    margin-bottom: 23px;
  }
}

.list {
  padding-left: 29px;
  list-style: disc;

  @media (max-width: 375px) {
    padding-left: 26px;
  }
}

.btn {
  transform: translate(-20px, 7px);
}

.links {
  gap: 36px;

  @media (max-width: 768px) {
    display: none;
  }
}
