@use '@/styles/typography';
@use '@/styles/helpers';

.tabs {
  @media (max-width: 768px) {
    column-gap: 10px;
  }
}

.tab {
  position: relative;
  @extend .p-big;
  cursor: pointer;
  padding-bottom: 5px;

  &:after {
    @extend .underline;
    height: 2px;
  }

  @media (hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 6px;
  }

  @media (max-width: 768px) {
    padding-bottom: 0;
  }
}

.active {
  color: var(--orange-200);

  &::after {
    width: 100%;
    background: var(--orange-200);
  }
}
