@use '@/styles/typography';
@use '@/styles/extends';

.root {
  column-gap: 31px;
  row-gap: 10px;

  @media (max-width: 768px) {
    column-gap: 10px;
  }
}

.tab {
  position: relative;
  padding-bottom: 5px;
  @extend .p-big;
  cursor: pointer;

  &:after {
    @extend .underline;
    height: 2px;
  }

  @media (hover: hover) {
    &:hover:after {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 6px;
  }

  @media (max-width: 768px) {
    padding-bottom: 0;
  }
}

.active {
  color: var(--orange-200);

  &::after {
    width: 100%;
  }
}