.grid {
  display: grid;
  grid-template-columns: repeat(var(--large, 3), 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(var(--big, 2), 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(var(--small, 1), 1fr);
  }
}
