@use '@/styles/typography';

.big {
  @extend .h1;
}

.normal {
  margin-bottom: 30px;
  @extend .h2;

  @media (max-width: 375px) {
    margin-bottom: 20px;
  }
}

.small {
  @extend .h3;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}
