@use '@/styles/typography';

.title {
  margin-bottom: var(--mb);
  max-width: var(--w, 100%);

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.big {
  @extend .h1;
}

.normal {
  @extend .h2;
  margin-bottom: var(--mb, 30px);

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.small {
  @extend .h3;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}
