.container {
  grid-column-gap: clamp(20px, -0.288rem + 2.4vww, 30px);
  grid-row-gap: 30px;

  @media (max-width: 1024px) {
    grid-column-gap: clamp(10px, 1.053rem + 0.31vw, 20px);
    grid-row-gap: clamp(18px, 0.692rem + 1.85vw, 30px);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  grid-column: span 5;
  min-height: 301px;
  border-radius: var(--border-radius-change);
  overflow: hidden;

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9) {
    grid-column: span 4;
  }

  @media (max-width: 1024px) {
    grid-column: span 4;

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(9) {
      grid-column: span 3;
    }

    &:nth-child(2),
    &:nth-child(7),
    &:nth-child(13) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    grid-column: span 3;
    min-height: 110px;

    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(9) {
      grid-column: span 2;
    }

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(12) {
      display: none;
    }
  }
}

.photo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
