.hero {
  padding: 206px 0 120px;
  background: url('/hero-bg.jpg') no-repeat center;
  background-size: cover;
  color: var(--white);

  @media (max-width: 1024px) {
    padding: 206px 0 120px;
  }

  @media (max-width: 375px) {
    padding: 141px 0 52px;
  }
}

.content {
  gap: 50px;

  @media (max-width: 375px) {
    gap: 40px;
  }
}

.title {
  max-width: 630px;
}

.description {
  max-width: 560px;

  @media (max-width: 1024px) {
    max-width: 400px;
  }

  @media (max-width: 375px) {
    max-width: 300px;
  }
}
