.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  height: clamp(43px, 1.785rem + 3.85vw, 68px);
  padding: clamp(10px, 0.264rem + 1.54vw, 20px);
  width: 100%;
  background: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;

  &::placeholder {
    color: var(--gray-300);
  }

  &:hover {
    background: var(--beige-200);
  }

  &:focus {
    background: var(--beige-200);
    border-color: var(--gray-300);
  }
}

.date {
  text-transform: uppercase;
}
